[submodule "vendor/paulirish/git-open"]
	path = vendor/paulirish/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "vendor/rbenv/ruby-build"]
	path = vendor/rbenv/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "vendor/rbenv/rbenv"]
	path = vendor/rbenv/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "vendor/php-build/php-build"]
	path = vendor/php-build/php-build
	url = https://github.com/php-build/php-build.git
[submodule "vendor/nvm-sh/nvm"]
	path = vendor/nvm-sh/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "vendor/pyenv/pyenv"]
	path = vendor/pyenv/pyenv
	url = https://github.com/pyenv/pyenv.git
