[submodule "src/.vim/bundle/vim-colors-solarized"]
	path = src/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "src/.vim/bundle/vim-pine-script"]
	path = src/.vim/bundle/vim-pine-script
	url = https://github.com/morgado-jb/vim-pine-script.git
[submodule "src/.vim/bundle/ctrlp.vim"]
	path = src/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "src/.vim/bundle/supertab"]
	path = src/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "src/.vim/bundle/syntastic"]
	path = src/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "src/.vim/bundle/vim-dispatch"]
	path = src/.vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "src/.vim/bundle/vim-multiple-cursors"]
	path = src/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "src/.vim/bundle/vim-fugitive"]
	path = src/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "src/.vim/bundle/vim-endwise"]
	path = src/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "src/.vim/bundle/vim-ragtag"]
	path = src/.vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "src/.vim/bundle/vim-abolish"]
	path = src/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "src/.vim/bundle/vim-scriptease"]
	path = src/.vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "src/.vim/bundle/php.vim"]
	path = src/.vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "src/.vim/bundle/vim-sensible"]
	path = src/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "src/.vim/bundle/tcomment_vim"]
	path = src/.vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "src/.vim/bundle/vim-unimpaired"]
	path = src/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "src/.vim/bundle/vim-repeat"]
	path = src/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "src/.vim/bundle/vim-markdown"]
	path = src/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "src/.vim/bundle/vim-snippets"]
	path = src/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "src/.vim/bundle/html5.vim"]
	path = src/.vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "src/.vim/bundle/vimux"]
	path = src/.vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "src/.vim/bundle/molokai"]
	path = src/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "src/.vim/bundle/vim-gitgutter"]
	path = src/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "src/.vim/bundle/phpcomplete.vim"]
	path = src/.vim/bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "src/.vim/bundle/vim-surround"]
	path = src/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "src/.vim/bundle/nerdtree"]
	path = src/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vendor/Anthony25/gnome-terminal-colors-solarized"]
	path = vendor/Anthony25/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "vendor/paulirish/git-open"]
	path = vendor/paulirish/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "vendor/arialdomartini/oh-my-git"]
	path = vendor/arialdomartini/oh-my-git
	url = https://github.com/arialdomartini/oh-my-git.git
[submodule "vendor/rbenv/ruby-build"]
	path = vendor/rbenv/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "src/.rbenv"]
	path = src/.rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "vendor/php-build/php-build"]
	path = vendor/php-build/php-build
	url = https://github.com/php-build/php-build.git
[submodule "src/.vim/bundle/vim-git"]
	path = src/.vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
