[submodule "vendor/Anthony25/gnome-terminal-colors-solarized"]
	path = vendor/Anthony25/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "vendor/paulirish/git-open"]
	path = vendor/paulirish/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "vendor/arialdomartini/oh-my-git"]
	path = vendor/arialdomartini/oh-my-git
	url = https://github.com/arialdomartini/oh-my-git.git
[submodule "vendor/rbenv/ruby-build"]
	path = vendor/rbenv/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "src/.rbenv"]
	path = src/.rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "vendor/php-build/php-build"]
	path = vendor/php-build/php-build
	url = https://github.com/php-build/php-build.git
