
/**
 * Sharpens and reduces size of top panel
 * -----------------------------------------------------------------------------
 */

#panel {
    font-family: Ubuntu, Cantarell, sans-serif;
    font-size: 10px;
    height: 2.4em;
    font-weight: bold;
    color: rgb(255,255,255);
    box-shadow: none;
    border: none;
    transition-duration: 0;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(3,3,3,1);
    background-gradient-end: rgba(0,0,0,1);
}

#panel .panel-corner {
    -panel-corner-radius: 0px;
    -panel-corner-background-color: transparent;
    -panel-corner-border-width: 0px;
    -panel-corner-border-color: transparent;
}

#panel .panel-button:hover,
#panel .panel-button:active,
#panel .panel-button:overview,
#panel .panel-button:focus {
    text-shadow: none;
}
