[advice]

	statusHints = false

[alias]

	a = add
	al = add .
	aliases = config --get-regexp alias
	ap = add --patch
	b = branch -v -a
	c = commit
	ca = commit -a
	cam = "!f() { git commit -a -m \"$*\"; }; f"
	cm = "!f() { git commit -m \"$*\"; }; f"
	co = checkout
	d = diff
	f = fetch -v
	fa = fetch --all
	cod = checkout develop
	com = checkout master
	ff = merge --ff-only
	ffom = merge --ff-only origin/master
	l = "!f() { git log --pretty=format:\"%C(auto)%h %ad%d %s%C(reset)\" --decorate --date=relative -n "${1:-10}"; }; f"
	lg = "!f() { git log --pretty=format:\"%C(auto)%h %ad %C(green)%cn%C(reset)%C(auto)%d %s%C(reset)\" --decorate --date=relative --graph -n "${1:-10}"; }; f"
	ll = "!f() { git log --pretty=format:\"%C(auto)%h %ad %C(green)%cn%C(reset)%C(auto)%d %s%C(reset)\" --decorate --date=relative -n "${1:-10}"; }; f"
	ls = "!f() { git log --oneline --decorate; }; f"
	m = merge
	p = push
	pt = push --tags
	r = remote -v
	s = status
	t = tag -l

	changelog = "!f() { git log --no-merges $1 --not $2 --format=\"%h %s%+b\"; }; f"
	contributors = shortlog --summary --numbered # List contributors with number of commits https://github.com/mathiasbynens/dotfiles/blob/e32bc6cc07e1e25ba0821c3c20b488ead2133e0a/.gitconfig

	doc     = "!f() { git commit -m \"doc: :pencil: $*\"; }; f"
	fix     = "!f() { git commit -m \":bug: fix $*\" -v; }; f"
	hi5     = "!f() { git commit -m \"^5 $*\"; }; f"

	batman  = "!f() { git add -A . && git commit -m \"Batman! $*\"; }; f"
	kapow   = "!f() { git add -A . && git commit -m \":zap: :facepunch: :zap: $*\"; }; f"
	wa     	= "!f() { git add -A . && git commit -m \"Pedal to the :metal: $*\"; }; f"
	wip     = "!f() { git add -A . && git commit -m \"wip: :construction: $*\"; }; f"
	zap     = "!f() { git add -A . && git commit -m \":zap: :zap: :sparkles: $*\"; }; f"

[bash]

	showDirtyState = true

[color]

	ui = auto

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	frag = cyan reverse
	meta = normal reverse
	new = green
	old = red
	whitespace = red reverse

[color "interactive"]

	prompt = blue reverse

[core]

	autocrlf = input
	editor = vi
	excludesfile = ~/.gitexcludes

[fetch]

	prune = true

[help]

	autocorrect = 1

[merge]

	branchdesc = true
	log = 65
	stat = true

[mergetool]

	keepBackup = false

[push]

	default = simple

[url "https://github"]

	# Because "git://" urls are causing major performance issues (ubuntu)
	insteadOf = git://github

[user]

	name = Gerard Roche
	email = gerardroche@users.noreply.github.com
