[advice]

	statusHints = false
	detachedHead = false

[alias]


	a = add
	al = add .
	aliases = config --get-regexp alias
	amend = commit --amend
	ap = add --patch
	b = branch -av
	batman  	= "!f() { git add -A . && git commit -m \"Batman! $*\"; }; f"
	c = commit
	ca = commit -a
	changelog = "!f() { git log --no-merges $1 --not $2 --format=\"%h %s%+b\"; }; f"
	cm = "!f() { git commit -m \"$*\"; }; f"
	co = checkout
	cod = checkout develop
	com = checkout master
	conext = "!f() { git log HEAD...$1 --pretty=%H | tail -1 | xargs git checkout; }; f"
	contributors = shortlog --summary --numbered # List contributors with number of commits https://github.com/mathiasbynens/dotfiles/blob/e32bc6cc07e1e25ba0821c3c20b488ead2133e0a/.gitconfig
	coprev = checkout HEAD^
	d = diff
	f = fetch
	ff = merge --ff-only
	ffhm = merge --ff-only hub/master
	ffnext = "!f() { git log HEAD...$1 --pretty=%H | tail -1 | xargs git merge --ff-only; }; f"
	ffom = merge --ff-only origin/master
	ffum = merge --ff-only upstream/master
	fg = fetch gerardroche
	fh = fetch hub
	fire     	= "!f() { git add -A . && git commit -m \":fire: $*\"; }; f"
	fo = fetch origin
	fu = fetch upstream
	hi5         = "!f() { git commit -m \"^5 $*\"; }; f"
	hreset = reset --hard
	kapow   	= "!f() { git add -A . && git commit -m \"KAPOW$*\"; }; f"
	l = "!f() { git log --all --pretty=format:\"%C(auto)%h %s %n%<(1)        %D\" --date=short --decorate --graph -n "${1:-10}"; }; f"
	ll = "!f() { git log --pretty=format:\"%C(auto)%h %s %n        %cn <%ae> %ad%n        %D\" --decorate --date=short --graph -n "${1:-7}"; }; f"
	ls = "!f() { git log --oneline --decorate; }; f"
	m = merge
	mt = mergetool
	p = push
	pff = pull --ff-only
	pop = stash pop
	prune = fetch --prune
	pt = push --tags
	r = remote -v
	rc = rebase --continue
	s = status
	sta = stash save --include-untracked
	t = "!f() { git tag -l | sort -V | tail; }; f"
	undo = reset --soft HEAD^
	w      		= "!f() { git add -A . && git commit -m \"$*\"; }; f"
	wa     		= "!f() { git add -A . && git commit -m \":metal: $*\"; }; f"
	wip     	= "!f() { git add -A . && git commit -m \"WIP: $*\"; }; f"
	zap     	= "!f() { git add -A . && git commit -m \":zap: $*\"; }; f"
	zapkapow  	= "!f() { git add -A . && git commit -m \":zap: KAPOW\"; }; f"
    cp = cherry-pick
    ctags = "!.git/hooks/ctags"
    lsallmybranches = "!git lsbranches | grep \"`git config user.name`\" | grep -v \"refs/stash\""
    lsbranches = "for-each-ref --format=' %(authorname) %09 %(refname)' --sort=authorname"
    lsmybranches = "!git lsbranches | grep \"`git config user.name`\" | grep \"refs/head\""

[bash]

	showDirtyState = true

[color]

	ui = auto

[color "branch"]

	current = green
	remote = blue

[color "diff"]

	frag = cyan
	func = cyan reverse
	meta = normal reverse
	new = green
	old = red
	whitespace = red reverse

[color "interactive"]

	prompt = blue reverse

[core]

	autocrlf = input
	editor = vi
	excludesfile = ~/.gitexcludes

[diff]

	mnemonicprefix = true

[flake8]

	strict = true

[help]

	autocorrect = 1

[init]

	templatedir = ~/.gittemplates

[interactive]

	singlekey = true

[merge]

	branchdesc = true
	log = 65
	stat = true
	summary = true

[mergetool]

	keepBackup = false

[mergetool "fugitive"]

	cmd = vim -f -c \"Gvdiff\" \"$MERGED\"

[push]

	default = simple
    followTags = true

[status]

	showUntrackedFiles = all

[url "https://github"]

	# Because "git://" urls are causing major performance issues (ubuntu)
	insteadOf = git://github

[user]

	name = Gerard Roche
	email = gerardroche@users.noreply.github.com
	signingKey = 5A9C047B8E53DC92

[commit]
	gpgSign = true
