[advice]

	statusHints = false
	detachedHead = false

[alias]

	a = add
	aa = add --all
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	al = add .
	aliases = config --get-regexp alias
	ap = add --patch
	au = add --update
	b = branch
	bD = branch --delete --force
	bM = branch --move --force
	ba = branch --all
	bd = branch --delete
	bm = branch --move
	c = commit
	ca = commit --all
	cam = commit --amend
	cb = checkout -b
	cd = checkout develop
	changes = "!f() { git log --no-merges $1 --not $2 --format=\"%h %s%+b\"; }; f"
	ci = commit --interactive
	cl = "!f() { git log --oneline --no-decorate master..HEAD; }; f"
	cm = checkout master
	cm = commit --message
	co = checkout
	conext = "!f() { git log HEAD...$1 --pretty=%H | tail -1 | xargs git checkout; }; f"
	contributors = shortlog --summary --numbered # List contributors with number of commits https://github.com/mathiasbynens/dotfiles/blob/e32bc6cc07e1e25ba0821c3c20b488ead2133e0a/.gitconfig
	coprev = checkout HEAD^
	ctags = "!.git/hooks/ctags"
	cv = commit --verbose
	d = diff
	dc = diff --cached
	ds = diff --staged
	dw = diff --word-diff
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
	f = fetch
	ffnext = "!f() { git log HEAD...$1 --pretty=%H | tail -1 | xargs git merge --ff-only; }; f"
	hi5 = "!f() { git commit -m \"^5 $*\"; }; f"
	l = "!f() { git log --all --pretty=format:\"%C(auto)%h %s %n%<(1)        %D\" --date=short --decorate --graph -n "${1:-10}"; }; f"
	lg = log --graph
	lk = log --graph --topo-order --abbrev-commit --date=short --decorate --all --boundary --pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset'
	ll = "!f() { git log --pretty=format:\"%C(auto)%h %s %n        %cn <%ae> %ad%n        %D\" --decorate --date=short --graph -n "${1:-7}"; }; f"
	lo = log --oneline
	lp = log --patch
	ls = "!f() { git log --oneline --decorate; }; f"
	lsallmybranches = "!git lsbranches | grep \"`git config user.name`\" | grep -v \"refs/stash\""
	lsbranches = "for-each-ref --format=' %(authorname) %09 %(refname)' --sort=authorname"
	lsmybranches = "!git lsbranches | grep \"`git config user.name`\" | grep \"refs/head\""
	lt = log --topo-order
	m = merge
	mt = mergetool
	o = checkout
	ob = checkout -b
	r = rebase
	resethard = reset --hard
	rh = reset --hard
	s = status
	t = "!f() { git tag -l | sort -V | tail; }; f"
	w = "!f() { git commit -m \"$*\"; }; f"
	wa = "!f() { git add -A . && git commit -m \":metal: $*\"; }; f"
	zap = "!f() { git add -A . && git commit -m \":zap: KAPOW\"; }; f"

[bash]

	showDirtyState = true

[color]

	ui = auto

[color "branch"]

	current = green
	remote = blue

[color "diff"]

	frag = cyan
	func = cyan reverse
	meta = dim reverse
 	new = green
	old = red
	whitespace = red reverse

[color "interactive"]

	prompt = blue reverse

[core]

	excludesfile = ~/.gitexcludes
	editor = vim
	hooksPath = ~/.githooks
	autocrlf = input

[diff]

	mnemonicprefix = true

[flake8]

	strict = true

[help]

	autocorrect = 10

[interactive]

	singlekey = true

[merge]

	branchdesc = true
	log = 65
	stat = true
	summary = true

[mergetool]

	keepBackup = false

[mergetool "fugitive"]

	cmd = vim -f -c \"Gvdiff\" \"$MERGED\"

[push]

	default = simple
	followTags = true

[status]

	showUntrackedFiles = all

[url "https://github"]

	# Because "git://" urls are causing major performance issues (ubuntu)
	insteadOf = git://github

[user]

	name = Gerard Roche
	email = gerardroche@users.noreply.github.com
	signingKey = 5A9C047B8E53DC92

[commit]
	gpgSign = true
[og]
	showsignature = true
[fetch]
	prune = true
